<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RTO_India</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dss.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register1</display-name>
    <servlet-name>Register1</servlet-name>
    <servlet-class>com.dss.Register1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register1</servlet-name>
    <url-pattern>/Register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register2</display-name>
    <servlet-name>Register2</servlet-name>
    <servlet-class>com.dss.Register2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register2</servlet-name>
    <url-pattern>/Register2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register3</display-name>
    <servlet-name>Register3</servlet-name>
    <servlet-class>com.dss.Register3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register3</servlet-name>
    <url-pattern>/Register3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register4</display-name>
    <servlet-name>Register4</servlet-name>
    <servlet-class>com.dss.Register4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register4</servlet-name>
    <url-pattern>/Register4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Opass</display-name>
    <servlet-name>Opass</servlet-name>
    <servlet-class>com.dss.Opass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Opass</servlet-name>
    <url-pattern>/Opass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Opass1</display-name>
    <servlet-name>Opass1</servlet-name>
    <servlet-class>com.dss.Opass1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Opass1</servlet-name>
    <url-pattern>/Opass1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complaint</display-name>
    <servlet-name>Complaint</servlet-name>
    <servlet-class>com.dss.Complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complaint</servlet-name>
    <url-pattern>/Complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RTO_Region</display-name>
    <servlet-name>RTO_Region</servlet-name>
    <servlet-class>com.dss.RTO_Region</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RTO_Region</servlet-name>
    <url-pattern>/RTO_Region</url-pattern>
  </servlet-mapping>
</web-app>